name: Checkout
on:
  push:
    branches:
       - main
       
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout1
        uses: actions/checkout@v4.3.1
      - name: Show directory listing
        run: ls -alhR
