name: Docker CI

on:
  workflow_dispatch:   # فقط دستی اجرا می‌شود

jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v5
        

      # Step 2: Set up Docker Buildx (برای multi-platform builds)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Step 3: Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Step 4: Build Docker image
      - name: Build Docker image
        run: |
          IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}
          
          # اگر push به main باشد
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            docker build -t $IMAGE_NAME:latest .
          fi
          
          # اگر این یک tagged release باشد
          if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            TAG_NAME=${GITHUB_REF_NAME}
            docker build -t $IMAGE_NAME:$TAG_NAME .
          fi

      # Step 5: Push Docker image
      - name: Push Docker image
        run: |
          IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}
          
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            docker push $IMAGE_NAME:latest
          fi
          
          if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            TAG_NAME=${GITHUB_REF_NAME}
            docker push $IMAGE_NAME:$TAG_NAME
          fi

      # Step 6: Scan image for CVEs
      - name: Scan Docker image
        uses: docker/scout-action@v1
        with:
          image: ${{ secrets.DOCKERHUB_USERNAME }}:latest
