name: CI Pipeline

on:
  workflow_dispatch:

jobs:
  Complete:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1

      

      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUBUSERNAME }}
          password: ${{ secrets.DOCKERHUBTOKEN }}

      - name: Build Docker Image
        run: |
         docker build -t ${{ secrets.DOCKERHUBUSERNAME }}/${{ github.event.repository.name }} .

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKERHUBUSERNAME }}/${{ github.event.repository.name }}

